@{
    ViewData["Title"] = "Receitas";
}

@{
    ViewBag.Title = "Lombo com Mojo Rojo e Sanduíche";
}

<div id="recipe-container">
    <h1 id="recipe-title">Lombo de Porco Recheado com Queijo Manchego e Membrillo</h1>
    <p id="recipe-description">
        Esta receita de lombo de porco recheado com queijo Manchego e membrillo (doce de marmelo) é uma verdadeira delícia! O lombo é assado até ficar suculento e, ao mesmo tempo, repleto de sabores ricos e contrastantes, graças ao queijo e ao doce de marmelo. O toque de ervas frescas e o xerez completam a receita, transformando-a em uma refeição perfeita para ocasiões especiais.
    </p>

    <div id="ingredients-section">
        <h2 id="ingredients-title">Ingredientes</h2>
        <ul id="ingredients-list">
            <li>1kg de lombo de porco (com a gordura marcada)</li>
            <li>175g de queijo Manchego, finamente fatiado</li>
            <li>150g de membrillo (doce de marmelo)</li>
            <li>2 ramos de sálvia</li>
            <li>Azeite de oliva (para regar)</li>
            <li>1 cabeça de alho, cortada ao meio na horizontal</li>
            <li>1 ramo de tomilho</li>
            <li>200ml de xerez seco (Jerez)</li>
            <li>Sal marinho e pimenta-do-reino moída na hora (a gosto)</li>
        </ul>
    </div>
   
