@{
    ViewData["Title"] = "Sobre";
}

<div>
<h1 class="titulo-principal">Cogumelos Frescos na Culinária</h1>
<p class="paragrafo-principal">    
    Os cogumelos frescos têm ganhado cada vez mais espaço na gastronomia. Eles são versáteis, saudáveis e trazem um sabor único e umami aos pratos. Cogumelos como champignon, shiitake, shimeji e portobello são apenas algumas das variedades facilmente encontradas no mercado e amplamente utilizadas em receitas sofisticadas e caseiras.      
</p>

<h1 class="titulo-principal">Benefícios dos Cogumelos</h1>
<p>Além do sabor, os cogumelos são ricos em nutrientes. Eles contêm proteínas, fibras, vitaminas do complexo B e minerais como selênio, zinco e cobre. Estudos sugerem que o consumo regular de cogumelos pode ajudar a fortalecer o sistema imunológico, combater inflamações e até auxiliar na prevenção de certas doenças.</p>
</div>

<div>
    <h1 class="titulo-principal">Lombo de Porco Recheado na Culinária</h1>
    <p class="paragrafo-principal">
        O lombo de porco recheado é um prato tradicional em várias culturas, valorizado por seu sabor intenso e versatilidade. Por ser uma carne mais magra e de sabor delicado, o lombo de porco combina bem com recheios variados, como ervas, queijos, frutas secas e vegetais. Esse prato é especialmente popular em ocasiões festivas, pois proporciona uma refeição visualmente atraente e satisfatória.
        Em várias cozinhas pelo mundo, o lombo recheado é preparado com ingredientes regionais: na culinária brasileira, por exemplo, o recheio pode incluir farofa, linguiça e frutas tropicais como abacaxi ou ameixa. Já em países europeus, é comum o uso de ervas frescas, nozes e queijos curados para enriquecer o prato.
    </p>

    <h1 class="titulo-principal">Benefícios Nutricionais do Lombo de Porco</h1>
    <p class="paragrafo-principal">
        O lombo de porco é uma carne relativamente magra, especialmente se comparada a outros cortes de porco. Ele é rico em proteínas de alta qualidade e fornece vitaminas do complexo B, como a vitamina B6 e a vitamina B12, que são importantes para a saúde cerebral, a produção de glóbulos vermelhos e o funcionamento do sistema nervoso. Além disso, o lombo contém minerais essenciais como o fósforo e o zinco, que são importantes para o metabolismo energético e a imunidade.
        Consumido moderadamente, o lombo de porco pode fazer parte de uma dieta equilibrada e saudável. A gordura do lombo de porco é principalmente monoinsaturada, semelhante ao tipo de gordura encontrada no azeite de oliva, o que pode ser benéfico para a saúde cardiovascular.
    </p>
</div>

